@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "";
}


<!-- Custom fonts for this template-->
<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template-->
<link href="~/css/adminstyle/sb-admin-2.min.css" rel="stylesheet" />

@if(Model != null){
    <div class="text-center">
        <div class="error mx-auto" data-text="@Model.ErrorType">@Model.ErrorType</div>
        <p class="lead text-gray-800 mb-5">@Model.ErrorMessage</p>
        <a href="javascript:history.go(-1)">← Quay lại trang trước đó</a>
    </div>
}