<div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
    <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside" data-toggle="owl" data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "responsive": {
                                            "768": {
                                                "nav": true,
                                                "dots": false
                                            }
                                        }
                                    }'>
        <div class="intro-slide">
            <figure class="slide-image">
                <picture>
                    <source media="(max-width: 480px)" srcset="~/images/demos/demo-3/slider/slide-1-480w.jpg">
                    <img src="~/images/demos/demo-3/slider/slide-1.jpg" alt="Image Desc">
                </picture>
            </figure><!-- End .slide-image -->

            <div class="intro-content">
                <h3 class="intro-subtitle text-primary">Daily Deals</h3><!-- End .h3 intro-subtitle -->
                <h1 class="intro-title">
                    AirPods <br>Earphones
                </h1><!-- End .intro-title -->

                <div class="intro-price">
                    <sup>Today:</sup>
                    <span class="text-primary">
                        $247<sup>.99</sup>
                    </span>
                </div><!-- End .intro-price -->

                <a href="category.html" class="btn btn-primary btn-round">
                    <span>Click Here</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->

        <div class="intro-slide">
            <figure class="slide-image">
                <picture>
                    <source media="(max-width: 480px)" srcset="~/images/demos/demo-3/slider/slide-2-480w.jpg">
                    <img src="~/images/demos/demo-3/slider/slide-2.jpg" alt="Image Desc">
                </picture>
            </figure><!-- End .slide-image -->

            <div class="intro-content">
                <h3 class="intro-subtitle text-primary">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                <h1 class="intro-title">
                    Echo Dot <br>3rd Gen
                </h1><!-- End .intro-title -->

                <div class="intro-price">
                    <sup class="intro-old-price">$49,99</sup>
                    <span class="text-primary">
                        $29<sup>.99</sup>
                    </span>
                </div><!-- End .intro-price -->

                <a href="category.html" class="btn btn-primary btn-round">
                    <span>Click Here</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->
    </div><!-- End .intro-slider owl-carousel owl-simple -->

    <span class="slider-loader"></span><!-- End .slider-loader -->
</div><!-- End .intro-slider-container -->
