@{
    ViewData["Title"] = "Thông báo";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tài khoản đã được xác thực. Giờ đây bạn có thể đăng nhập và sử dụng cách dịch vụ trên website. Xin trân trọng cảm ơn!
</p>
