@{
    ViewData["Title"] = "Home Page";
}
<style>
    .custom-link {
        display: block;
        padding: 20px; 
        text-align: center;
        outline: none;
        font-size: 60px;
        text-decoration: none;
    }
    .custom-link:hover{
        text-decoration: none;
    }
</style>
<div class="card">
    <div class="card-body">
        <a href="@Url.Action("Index","Product")" class="custom-link text-info">Product List</a>
    </div>
</div>
<br />
<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>