@model CategoryModel

@{
    ViewData["Title"] = "Tạo thể loại";
}

<h1>Tạo thể loại</h1>

<hr />
<t-accordion>
    <form asp-action="Create">
        @await Html.PartialAsync("_CreateOrEdit", Model)
    </form>
</t-accordion>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    @await Html.PartialAsync("_Summernote", new Summernote("#Description"))
}
