@model CategoryModel

@{
    ViewData["Title"] = "Sửa thể loại";
}

<h1>Sửa thể loại</h1>

<hr />
<div class="row">
    <t-accordion asp-id="category-detail-@Model.Id" asp-title="Chi tiết thể loại [@Model.Name]" asp-collapsed="false">
        <form asp-action="Edit" style="background-color: #fff; padding: 20px; border-radius: 10px">
            @await Html.PartialAsync("_CreateOrEdit", Model)
        </form>
    </t-accordion>
</div>

<t-accordion asp-id="product-category-@Model.Id" asp-title="Sản phẩm thuộc [@Model.Name]">
    @await Html.PartialAsync("_CreateOrEdit.ProductCategoryMapping", Model)
</t-accordion>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    @await Html.PartialAsync("_Summernote", new Summernote("#Description"))
}