html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar_custom {
    padding: 0 100px;
}

.form-group {
    padding-bottom: 16px;
}

/* Carousel */
.carousel {
    height: 350px;
    border: 1px solid #000;
    border-radius: 10px; /* Căn viền */
    position: relative;
    overflow: hidden;
}

.carousel__image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__container {
    position: relative;
    overflow: hidden;
}

.carousel__prev-button,
.carousel__next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    background-color: transparent;
}

.carousel__next-button {
    right: 0;
}

.carousel__prev-button {
    left: 0;
}
/**/
