@model CatalogProductsModel
<div class="products mb-3">
    <div class="row justify-content-center">
        @if(Model.Products?.Count > 0)
        {
            foreach(var product in Model.Products)
            {
                <div class="col-6 col-md-4 col-lg-4">
                    @await Html.PartialAsync("_ProductBox", product)
                </div>
            }
        }
    </div><!-- End .row -->
</div><!-- End .products -->
@Html.Script(@<text>
        <script asp-location="Footer">
            $(document).ready(function () {
                var catalog = new CatalogProducts();
                catalog.init({
                    ajaxEnabled: true,
                    ajaxSettings: {
                        type: "GET",
                        data: {}
                    },
                    fetchUrl: '@(ViewData["fetchUrl"])'
                });
                $(document).ready(function () {
                    catalog.on("before", function () {
                        var orderBy = $("#products-orderby").val();
                        catalog.urlBuilder.addParameter("orderBy", orderBy);
                    });
                    $("#products-orderby").change(function () {
                        catalog.getProducts();
                    });
                });
            });

        </script>
    </text>
)