@model ProductSearchModel
@{
    var modelTable = new DataTableViewModel()
            {
                TableTitle = "Product List",
                CreateButtonName = "Tạo sản phẩm mới",
                CreateUrl = Url.Action("CreateProduct", "Product"),
                EditUrl = Url.Action("EditProduct", "Product"),
                DeleteUrl = Url.Action("Delete", "Product"),
                SearchButtonId = "search-products",
                Filters = new List<Filter>()
                {
                    new Filter(nameof(Model.CategoryId)),
                    new Filter(nameof(Model.ManufacturerId)),
                },
                GetDataUrl = Url.Action("GetAll", "Product"),
                ServerSide = true,
                Columns = new List<ColumnDefinition>()
                {
                    new ColumnDefinition(nameof(Product.Id))
                    {
                        RenderType = RenderType.RenderCheckBox,
                        IsMasterCheckBox = true,
                        Orderable = false
                    },
                    new ColumnDefinition(nameof(Product.Name))
                    {
                        Title = nameof(Product.Name)
                    },
                    new ColumnDefinition(nameof(Product.Price))
                    {
                        Title = nameof(Product.Price)
                    },
                    new ColumnDefinition(nameof(Product.StockQuantity))
                    {
                        Title = nameof(Product.StockQuantity)
                    },
                    new ColumnDefinition(nameof(Product.Id))
                    {
                        RenderType = RenderType.RenderButtonEdit,
                        Title = "Edit",
                        Orderable = false
                    },
                    new ColumnDefinition(nameof(Product.Id))
                    {
                        RenderType = RenderType.RenderButtonRemove,
                        Title = "Delete",
                        Orderable = false
                    },
                }
            };
}

<div class="table-responsive display" style="width:100%">
    @await Html.PartialAsync("_Table", modelTable)
</div>

@Html.Script(
    @<text>
        <script>

            $(document).ready(function () {
                var message = 'Chưa chọn sản phẩm';
                $('#delete-selected').bind('click', function () {
                    if (selectedIds.length > 0) {
                        message = 'Xóa sản phẩm id ' + selectedIds.join(', ') + '?';
                        if (confirm(message)) {
                            var postData = {
                                selectedIds: selectedIds
                            };

                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("DeleteSelected", "Product"))",
                                data: postData,
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert('Delete failed')
                                },
                                complete: function (jqXHR, textStatus) {
                                    if (jqXHR.status === 204) {
                                        alert('Nothing selected');
                                        return;
                                    }
                                    updateTable('#@modelTable.TableId');
                                }
                            });
                            return false;
                        }
                    } else {
                        alert(message);
                    }
                });

            });

        </script>
    </text>
)