@model ProductModel

@{
    ViewData["Title"] = "CreateProduct";
}

<h1>Tạo sản phẩm mới</h1>
<partial name="_ProductListLink" />
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateProduct" style="background-color: #fff; padding: 20px; border-radius: 10px">
            @(await Html.PartialAsync("_AddOrEditProduct"))
        </form>
    </div>
</div>

<partial name="_ProductListLink" />

@section Scripts
    {
    @await Html.PartialAsync("_Summernote", new Summernote("#ShortDescription"))
    @await Html.PartialAsync("_Summernote", new Summernote("#FullDescription", false))
}

<script>
    $('#markasnewcheckbox').change(function () {
        if ($(this).is(":checked")) {
            $('#mark-as-new').css('display', 'block');
        } else {
            $('#mark-as-new').css('display', 'none');
        }
    });

</script>

