@model ProductCategoryModel

<h3 class="text-info">Sửa thể loại liên kết với sản phẩm</h3>
<form method="post" style="background-color: #fff; padding: 20px; border-radius: 10px">
    @(await Html.PartialAsync("_AddOrEditProductCategory", Model))
</form>
<hr />
<partial name="_ProductNavigation" />
