@model ProductEditModel

@{
    ViewData["Title"] = "EditProduct";
}

<h1>Sửa sản phẩm @Model.Name</h1>
<partial name="_ProductNavigation" />
<hr />
<t-accordion asp-id="product-detail-@Model.Id" asp-title="Chi tiết sản phẩm [@Model.Name]" asp-collapsed="false">
    <form asp-action="EditProduct" style="background-color: #fff; padding: 20px; border-radius: 10px">
        @(await Html.PartialAsync("_CreateOrEditProduct"))
    </form>
</t-accordion>
<t-accordion asp-id="attributes-@Model.Id" asp-title="Thuộc tính [@Model.Name]" asp-collapsed="true">
    @await Html.PartialAsync("_CreateOrEditProduct.ProductAttributeMappingList")
</t-accordion>
<t-accordion asp-id="pictures-@Model.Id" asp-title="Ảnh [@Model.Name]" asp-collapsed="true">
    @await Html.PartialAsync("_CreateOrEditProduct.ProductPictureList")
</t-accordion>
<t-accordion asp-id="related-product-@Model.Id" asp-title="Related product [@Model.Name]" asp-collapsed="true">
    @await Html.PartialAsync("_CreateOrEdit.RelatedProductList")
</t-accordion>

@Html.Script(@<text>
        <script>
            $('#markasnewcheckbox').change(function () {
                if ($(this).is(":checked")) {
                    $('#mark-as-new').css('display', 'block');
                } else {
                    $('#mark-as-new').css('display', 'none');
                }
            });
        </script>
    </text>)
