@model ProductAttributeMappingModel

<h3 class="text-info">Sửa thuộc tính liên kết với sản phẩm</h3>
<t-accordion>
    <form method="post" style="background-color: #fff; padding: 20px; border-radius: 10px">
        @(await Html.PartialAsync("_CreateOrEditProductAttributeMapping", Model))
    </form>
</t-accordion>
<hr />
<t-accordion asp-title="Danh sách giá trị của liên kết này">
    @await Html.PartialAsync("_CreateOrEditProductAttributeMapping.ValueList")
</t-accordion>
<partial name="_ProductNavigation" />
