@model int

<div id="attribute-list">
    <!-- Hiển thị danh sách thuộc tính sản phẩm ở đây -->
</div>

<script>
    $(document).ready(function () {
        var url = '@Url.Action("GetAllAttribute", "Product")';
        $.ajax({
            type: "GET",
            url: url,
            data: { productId: '@Model' },
            success: function (data) {
                // Xử lý kết quả trả về và hiển thị nó lên trang web
                var list = "<ul>";
                $.each(data, function (index, item) {
                    list += "<li>" + item.name + "</li>";
                    list += "<li>" + item.description + "</li>";
                });
                list += "</ul>";
                $("#attribute-list").html(list);
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi nếu có
                console.log("Error: " + error);
            }
        });
    });
</script>