@model ProductSearchModel
@{
    ViewData["Title"] = "Product List";
}
<div class="content-header p-2">
    <div class="d-flex flex-row-reverse mx-2">
        <button type="button" id="delete-selected" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            Delete Selected
        </button>
        <a id="add-button" class="btn btn-success mx-2" href="@Url.Action("CreateProduct", "Product")">
            Add New
        </a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-auto">
                    <label asp-for="CategoryId" class="col-form-label">Category</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" asp-items="Model.AvailableCategories" asp-for="CategoryId">
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-auto">
                    <label asp-for="ManufacturerId" class="col-form-label">Manufacturer</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" asp-items="Model.AvailableManufacturers" asp-for="ManufacturerId">
                    </select>
                </div>
            </div>
        </div>
        <div class="button text-center p-4">
            <button type="button" id="search-products" class="btn btn-primary btn-search">
                <i class="fas fa-search"></i>
                Search
            </button>
        </div>
    </div>
</div>

<t-accordion asp-title="Danh sách sản phẩm" asp-collapsed="false">
    @await Html.PartialAsync("_ProductList")
</t-accordion>


