@* @model ProductListViewModel *@
@{
    ViewData["Title"] = "Product List";
}
@* <!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<a class="btn btn-info" href="@Url.Action("CreateProduct", "Product")">New</a>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @await Html.PartialAsync("_ProductList", Model)
        </div>
    </div>
</div> *@
@{
    var model = new DataTableViewModel()
            {
                TableId = Guid.NewGuid().ToString(),
                TableTitle = "Product List",
                Headers = new List<string>() { "Name" },
                GetDataUrl = Url.Action("GetAll", "Product"),
                Columns = new List<ColumnDefinition>()
                {
                    new ColumnDefinition(){ Data = "name"}
                }
            };
}
@await Html.PartialAsync("_Table", model)
