@model ProductAttributeMappingModel

<h3 class="text-info">Thêm thuộc tính vào sản phẩm</h3>
<form method="post" style="background-color: #fff; padding: 20px; border-radius: 10px">
    @(await Html.PartialAsync("_AddOrUpdateProductAttributeMapping", Model))
</form>
<partial name="_ProductListLink" />

