<div class="cart-bottom">
    <div class="cart-discount">
        <form asp-controller="ShoppingCart" asp-action="ApplyDiscountCode" method="post">
            <div class="input-group">
                <input name="discountCode" type="text" class="form-control" required="" placeholder="coupon code">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                </div><!-- .End .input-group-append -->
            </div><!-- End .input-group -->
        </form>
    </div><!-- End .cart-discount -->
</div><!-- End .cart-bottom -->