@using T.Library.Model.ViewsModel;
@model AccountInfoModel
@{
    Layout = "_InfoLayout";
}
@section account_navigation
{
    @await Component.InvokeAsync("AccountNavigation", new { selectedTabId = (int)AccountNavigationEnum.Info })
}
@if(Model is not null)
{
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input type="text" asp-for="FirstName" class="form-control" id="inputFirstName">
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input type="text" asp-for="LastName" class="form-control" id="inputFirstName">
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth" class="form-label"></label>
            <input type="date" asp-for="DateOfBirth" class="form-control" id="inputBirthDay">
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input type="email" asp-for="Email" class="form-control" id="inputEmail">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}
