@model RegisterRequest
@{
    ViewData["Title"] = "Đăng ký tài khoản";
}

<form asp-action="Register" asp-controller="Account" method="post" class="sign-up-form">
    <h2 class="title">Sign up</h2>
    <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" asp-for="UserName" />
    </div>
    <div class="input-field">
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="Email" asp-for="Email" />
    </div>
    <div class="input-field">
        <i class="fa-solid fa-signature"></i>
        <input type="text" placeholder="FirstName" asp-for="FirstName" />
    </div>
    <div class="input-field">
        <i class="fa-solid fa-signature"></i>
        <input type="text" placeholder="LastName" asp-for="LastName" />
    </div>
    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" asp-for="Password" />
    </div>
    <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="ConfirmPassword" asp-for="ConfirmPassword" />
    </div>
    <input type="submit" class="btn" value="Sign up" />
    <p class="social-text">Or Sign up with social platforms</p>
    <div class="social-media">
        <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
        </a>
        <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
</form>
