@model ProductManufacturerSearchModel
@{
    ViewData["Title"] = "AddProductToManufacturerSearchModel";
    Layout = "_EmptyLayout";
}

@if (ViewBag.RefreshPage == true)
{
    <script>
        window.close();
        window.opener.location.reload();
    </script>
}

@{
    var model = new DataTableViewModel()
            {
                TableTitle = "Product List",
                CreateButtonName = "Tạo sản phẩm mới",
                SearchButtonId = "search-products",
                Filters = new List<Filter>()
                {
                    new Filter(nameof(Model.SearchByCategoryId)),
                    new Filter(nameof(Model.SearchByManufacturerId)),
                },
                GetDataUrl = Url.Action("GetProductList", "Manufacturer"),
                ServerSide = true,
                Columns = new List<ColumnDefinition>()
                {
                    new ColumnDefinition(nameof(Product.Id))
                    {
                        RenderType = RenderType.RenderCheckBox,
                        CheckBoxName = nameof(AddProductManufacturerModel.SelectedProductIds),
                        IsMasterCheckBox = true,
                        Orderable = false,
                        Width = 50,
                    },
                    new ColumnDefinition(nameof(Product.Name))
                    {
                        Title = DisplayNameExtensions.GetPropertyDisplayName<Product>(m => m.Name)
                    },
                }
            };
}

<form asp-action="AddProductToManufacturer" method="post" asp-route-ManufacturerId="@Context.Request.Query["manufacturerId"]">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-auto">
                        <label asp-for="SearchByManufacturerId" class="col-form-label">Manufacturer</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" asp-items="Model.AvailableManufacturers" asp-for="SearchByManufacturerId">
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-auto">
                        <label asp-for="SearchByCategoryId" class="col-form-label">Category</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" asp-items="Model.AvailableCategories" asp-for="SearchByCategoryId">
                        </select>
                    </div>
                </div>
            </div>
            <div class="button text-center p-4">
                <button type="button" id="search-products" class="btn btn-primary btn-search">
                    <i class="fas fa-search"></i>
                    Search
                </button>
            </div>
            <div class="table-responsive display" style="width:100%">
                @await Html.PartialAsync("_Table", model)
            </div>
        </div>
    </div>
    <button type="submit" name="save" class="btn btn-primary">
        <i class="far fa-save"></i>
        Save
    </button>
</form>



