@model T.Library.Model.Catalogs.Manufacturer

<h4>Manufacturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @await Html.PartialAsync("_CreateOrUpdate.Manufacturer", Model)
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

